<section class="experiences">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1>Viajes</h1>
        <a href="travel">
          <img src="../../../assets/banner_playa.jpg" alt="Banner Viajes"/>
        </a>
      </div>
      <div class="col-md-6">
        <h1>Actividades</h1>
        <a href="#">
          <img src="../../../assets/actividades.jpg" alt="Banner Actividades"/>
        </a>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
